<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Schedule to iCal</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header class="light-blue section">
    <div class="container">
      <h1 class="header center white-text">Schedule to iCal</h1>
      <p class="center white-text">Download a calendar containing all of your courses here!</p>
      <div class="autocomplete">
        <input class="autocomplete-input" id="courseInput" type="text" placeholder="Course number">
      </div>
    </div>
  </header>
  <div class="section" id="mainApp">
    <div class="container">
      <br><br>
      <h2 class="header center orange-text" v-if="courses.length > 0">Current Courses</h2>
      <div class="card" v-for="course,idx in courses">
        <div class="card-content">
          <div class="card-title" style="display: flex;">
            <div>{{course.id}} -&nbsp;</div>
            <input type="text" class="card-editable browser-default" v-model="course.title"></div>
          <div class="row">
            <div class="col s6" v-if="course.hasLectures">
              <b>Lectures</b>
              <p v-for="(meetings,key) in course.lectures">
                <label>
                  <input class="with-gap" v-bind:name="course.idl" :value="key" type="radio" v-model="course.pickl" />
                  <span>
                    {{ key }}:
                    <span v-for="meeting,idx in course.lectures[key]">
                      {{ meeting.begin }} to {{ meeting.end }} on {{ meeting.days }}
                      <span v-if="idx + 1 < meetings.length">,</span>
                    </span>
                  </span>
                </label>
              </p>
            </div>
            <div class="col s6" v-if="course.hasRecitations">
              <b>Recitations</b>
              <p v-for="(meetings,key) in course.recitations">
                <label>
                  <input class="with-gap" v-bind:name="course.idr" :value="key" type="radio" v-model="course.pickr" />
                  <span>
                    {{ key }}:
                    <span v-for="meeting,idx in meetings">
                      {{ meeting.begin }} to {{ meeting.end }} on {{ meeting.days }}<span v-if="idx + 1 < meetings.length">,</span>
                    </span>
                  </span>
                </label>
              </p>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="red-text pointer-cursor" v-on:click="courses.splice(idx, 1);recomputeUnits()">Remove</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h3 class="header center orange-text">How to use this tool</h3>
      <div class="row">
        <div class="col s12">
          <ol>
            <li>Enter the course codes for the courses that you are taking</li>
            <li>Press the download button in the bottom right corner</li>
            <li>For more customization options (alerts, half-semester mini-courses, etc.), hover over the download button and click on the settings cog.</li>
          </ol>
        </div>
      </div>
      <br />
      <h3 class="header center orange-text">Why use this tool</h3>
      <div class="row">
        <div class="col s12">
          <ol>
            <li>Set alarms/notifications for classes whenever you want</li>
            <li>Each session is its own event (this is sometimes more useful and sometimes not)</li>
            <li>Rename calendar events</li>
            <li>fun</li>
          </ol>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <h4 class="header center orange-text">Screenshots</h4>
        <br />
        <img src="data/screenshot.png" class="col s12" />
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col s12">
          Hi<br/>
          Is something not working right? Let me know at my email. (mmx at andrew)
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a href="https://masonx.ca/">Mason</a> using <a href="https://materializecss.com/">Materialize CSS</a>,
        <a href="https://vuejs.org">Vue</a>, with some code from <a href="https://www.w3schools.com/howto/howto_js_autocomplete.asp">W3Schools</a>.
      </div>
    </div>
  </footer>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue waves-effect" id="downloadBtn">
      <i class="large material-icons">save_alt</i>
    </a>
    <ul>
      <li><a class="btn-floating blue waves-effect modal-trigger" data-target="settingsModal"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>

  <div id="settingsModal" class="modal">
    <div class="modal-content">
      <h4>Settings</h4>
      <div id="settingsApp">
        <div class="row">
          <div class="col s12">
            Advanced customization options available here:
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select class="orange-text">
              <option value="1" selected>Fall 2019 entire</option>
              <option value="2">Fall 2019 first half</option>
              <option value="3">Fall 2019 second half</option>
            </select>
            <label>Mini-semester</label>
          </div>
          <div class="input-field col s12">
            <select class="orange-text" v-model.number="settings.displayStyle">
              <option class="orange-text" value="0" selected>Code only</option>
              <option class="orange-text" value="1">Code and name</option>
              <option class="orange-text" value="2">Name only</option>
              <option class="orange-text" value="3">Code and section</option>
            </select>
            <label>Calendar event title</label>
          </div>
          <div class="input-field col s12">
            <input id="alarms" type="text" v-model="alarmsRaw" @change="updateRawAlarms()">
            <label for="alarms">Alarms</label>
            <span class="helper-text">Comma-separated values for seconds before class to trigger a notification.</span>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            {{ settings.period_start }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect btn-flat">Close</a>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/bundle.js"></script>
  <script src="js/scripts.js"></script>
  </body>
</html>