<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Schedule to iCal</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header class="light-blue section">
    <div class="container">
      <h1 class="header center white-text">Schedule to ICS</span></h1>
      <p class="center white-text" id="msg">Loading course data...</p>
      <div class="autocomplete">
        <input class="autocomplete-input" id="courseInput" type="text" placeholder="Course number" disabled>
      </div>
    </div>
  </header>
  <div class="section" id="mainApp">
    <div class="container">
      <br><br>
      <h2 class="header center orange-text" v-if="courses.length > 0">Current Courses</h2>
      <div class="card" v-for="course,idx in courses">
        <div class="card-content">
          <div class="card-title" style="display: flex;">
            <div>{{course.id}} -&nbsp;</div>
            <input type="text" class="card-editable browser-default" v-model="course.title" v-on:blur="updateSelection">
          </div>
          <div class="row">
            <div class="col s6" v-if="course.hasLectures">
              <b>Lectures</b>
              <p v-for="(meetings,key) in course.lectures">
                <label>
                  <input class="with-gap" v-bind:name="course.idl" :value="key" type="radio" v-model="course.pickl" v-on:change="updateSelection" />
                  <span>
                    {{ key }}:
                    <span v-for="meeting,idx in course.lectures[key]">
                      {{ meeting.begin }} to {{ meeting.end }} on {{ meeting.days }}
                      <span v-if="idx + 1 < meetings.length">,</span>
                    </span>
                  </span>
                </label>
              </p>
            </div>
            <div class="col s6" v-if="course.hasRecitations">
              <b>Sections</b>
              <p v-for="(meetings,key) in course.recitations">
                <label>
                  <input class="with-gap" v-bind:name="course.idr" :value="key" type="radio" v-model="course.pickr" v-on:change="updateSelection" />
                  <span>
                    {{ key }}:
                    <span v-for="meeting,idx in meetings">
                      {{ meeting.begin }} to {{ meeting.end }} on {{ meeting.days }}<span v-if="idx + 1 < meetings.length">,</span>
                    </span>
                  </span>
                </label>
              </p>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="left blue-text">Units: {{ course.units }}</a>
          <a class="left blue-text">FCE: ??</a>
          <a class="red-text pointer-cursor" v-on:click="courses.splice(idx, 1); updateSelection();">Remove</a>
        </div>
      </div>
      <div class="right" v-if="courses.length > 0">
        Total units: {{ unit_total }}
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h3 class="header center orange-text">Schedule Preview</h3>
      <br />
      <div class="timings-container">
        <div class="timings">
          <div><span>8:00 </span>AM</div>
          <div>8:30</div>
          <div><span>9:00 </span>AM</div>
          <div>9:30</div>
          <div><span>10:00 </span>AM</div>
          <div>10:30</div>
          <div><span>11:00 </span>AM</div>
          <div>11:30</div>
          <div><span>12:00 </span>PM</div>
          <div>12:30</div>
          <div><span>1:00 </span>PM</div>
          <div>1:30</div>
          <div><span>2:00 </span>PM</div>
          <div>2:30</div>
          <div><span>3:00 </span>PM</div>
          <div>3:30</div>
          <div><span>4:00 </span>PM</div>
          <div>4:30</div>
          <div><span>5:00 </span>PM</div>
          <div>5:30</div>
          <div><span>6:00 </span>PM</div>
          <div>6:30</div>
          <div><span>7:00 </span>PM</div>
          <div>7:30</div>
          <div><span>8:00 </span>PM</div>
          <div>8:30</div>
          <div><span>9:00 </span>PM</div>
          <div>9:30</div>
          <div><span>10:00 </span>PM</div>
        </div>
        <div class="days" id="events-M"></div>
        <div class="days" id="events-T"></div>
        <div class="days" id="events-W"></div>
        <div class="days" id="events-R"></div>
        <div class="days" id="events-F"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h3 class="header center orange-text">How to use this tool</h3>
      <div class="row">
        <div class="col s12">
          <ol>
            <li>Enter the course codes for the courses that you are taking</li>
            <li>Press the download button in the bottom right corner</li>
            <li>For more customization options (alerts, half-semester mini-courses, etc.), hover over the download button and click on the settings cog.</li>
          </ol>
        </div>
      </div>
      <br />
      <h3 class="header center orange-text">Why use this tool</h3>
      <div class="row">
        <div class="col s12">
          <ol>
            <li>Set alarms/notifications for classes whenever you want</li>
            <li>Each session is its own event (this is sometimes more useful (e.g. if you want to remove a single event) and sometimes not (e.g. if you drop a class))</li>
            <li>Rename calendar events</li>
            <li>View past course offering days and times (change the <code>?semester=</code> variable)</li>
            <li>Preview how events will look in your calendar</li>
          </ol>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <h4 class="header center orange-text">Screenshots</h4>
        <br />
        <img src="data/screenshot.png" class="col s12" />
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col s12">
          Hi<br/>
          Is something not working right? Let me know at my email. (mmx at andrew)
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a href="https://masonx.ca/">Mason</a> using <a href="https://materializecss.com/">Materialize CSS</a>,
        <a href="https://vuejs.org">Vue</a>, with some code from <a href="https://www.w3schools.com/howto/howto_js_autocomplete.asp">W3Schools</a>.
      </div>
    </div>
  </footer>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large grey" id="downloadBtn">
      <i class="large material-icons">save_alt</i>
    </a>
    <ul>
      <li><a class="btn-floating blue waves-effect modal-trigger" data-target="settingsModal"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>

  <div id="settingsModal" class="modal">
    <div class="modal-content">
      <h4>Settings</h4>
      <div id="settingsApp">
        <div class="row">
          <div class="col s12">
            Advanced customization options available here:
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select class="orange-text" v-model.number="settings.displayStyle">
              <option class="orange-text" value="0" selected>Code only</option>
              <option class="orange-text" value="1">Code and name</option>
              <option class="orange-text" value="2">Name only</option>
              <option class="orange-text" value="3">Code and section</option>
              <option class="orange-text" value="4">Name and section</option>
            </select>
            <label>Calendar event title</label>
          </div>
          <div class="col s12">
            <label>
              <input type="checkbox" class="filled-in" v-model="settings.hideExtraneousSectionCode" />
              <span>Hide section code when only one is offered</span>
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="input-field col s12">
            <input id="alarms" type="text" v-model="alarmsRaw" @change="updateRawAlarms()">
            <label for="alarms">Alarms</label>
            <span class="helper-text">Comma-separated values for seconds before class to trigger a notification.</span>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <span v-if="settings.isDummy"><b>Historical data with no semester start/end information</b><br /></span>
            <span v-if="!settings.isDummy">Start of semester: {{ settings.period_start }} <br />
            End of Mini-1: {{ settings.period_half_end }} <br />
            Start of Mini-2: {{ settings.period_half_start }} <br />
            End of semester: {{ settings.period_end }} <br /></span>
            Course information fetched from: {{ settings.socLocation }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect btn-flat">Close</a>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/bundle.js"></script>
  <script src="js/scripts.js"></script>
  </body>
</html>
